noderedflow2.json
[{"id":"82842610.5a1bb8","type":"http in","z":"63b6935a.6eab74","name":"","url":"/application","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["a25f7161.82059"]]},{"id":"a25f7161.82059","type":"switch","z":"63b6935a.6eab74","name":"Check Image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":156,"y":253,"wires":[["1882b745.ca66c1"],["4534cb58.3dfcdc","f56b0096.51e158"]]},{"id":"1882b745.ca66c1","type":"template","z":"63b6935a.6eab74","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n\n<style>\n\n input[type=text] {\n width: 30em; height: 3em;\n }\n input[type=submit]{\n background-color: rgb(85,150,230);\n border: none;\n color: white;\n padding: 16px 32px;\n text-decoration: none;\n margin: 4px 2px;\n cursor: pointer;\n font-size: 15px;\n border-radius: 10px;\n}\n\nbody {\n    background: linear-gradient(#EbEbff, #b1b1ff); \n    background-color: ##EbEbff; \n}\n\n</style>\n<script type=\"text/javascript\">\nfunction clicked(address) {\n var form = document.getElementById(\"imageform\");\n\tdocument.getElementById('imageurl').value = address.src;\n\tform.submit();\n}\n</script>\n<center>\n<h1>Watson Visual Recognition Application</h1>\n<h4> To test out the WVR application, select and image or past a URL from the internet.</h4>\n <form action=\"{{req._parsedUrl.pathname}}\" id=\"imageform\">\n <img src=\"https://www.worldatlas.com/r/w728-h425-c728x425/upload/66/14/d8/kangchenjunga.jpg\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?auto=compress&cs=tinysrgb&h=350\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://viewbug_com.s3.amazonaws.com/media/images/contests/contest6571_banner.jpg\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://assets3.thrillist.com/v1/image/2780253/size/gn-gift_guide_variable_c.jpg\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://www.sgs.com/-/media/global/images/structural-website-images/hero-images/hero-agri-forestry.jpg?la=en&hash=21F8BF2F2E093B090DAB4211AD68B9C7E336BCE1\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://stmed.net/sites/default/files/sky-wallpapers-28043-1572848.jpg\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://www.tanzania-expeditions.com/wp-content/uploads/2014/05/2-zebras.jpg\" height='200' onclick=\"clicked(this)\"/>\n <img src=\"https://ichef.bbci.co.uk/images/ic/480xn/p01l49tk.jpg\" height='200' onclick=\"clicked(this)\"/>\n\n \n \n \n<h2></h2>\n<h4>Input URL below:</h4>\n <input type=\"text\" name=\"imageurl\" id=\"imageurl\"/><br>\n <input type=\"submit\" value=\"Analyze\"/>\n \n </form>\n </center>\n\n","x":500,"y":160,"wires":[["1781b0d8.8efe2f"]]},{"id":"4f563049.1d75b8","type":"visual-recognition-v3","z":"63b6935a.6eab74","name":"VisRec","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":550,"y":300,"wires":[["93453e10.a4552","d180db01.1ba66"]]},{"id":"93453e10.a4552","type":"template","z":"63b6935a.6eab74","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nh4 {\n text-align: center;\n margin: 10px;\n}\ntable {\n width: 480px;\n margin-top: 10px;\n}\nth, td {\n padding: 8px;\n text-align: left;\n border-bottom: 1px solid #ddd;\n background-color: #FFFFFF;\n width: 50%;\n}\n.classifier {\n background-color: rgb(85,150,230);\n text-align: center;\n}\n.title {\n background-color:LightGrey;\n}\ninput[type=submit]{\n background-color: rgb(85,150,230);\n border: none;\n color: white;\n padding: 16px 32px;\n text-decoration: none;\n margin: 4px 2px;\n cursor: pointer;\n font-size: 15px;\n border-radius: 10px;\n}\n</style>\n <div align=\"center\">\n <form action=\"{{req._parsedUrl.pathname}}\">\n <input type=\"submit\" value=\"Try again\"/>\n </form>\n <h1>Watson Visual Recognition Results</h1>\n <p>Analyzed image: {{req.query.imageurl}}<br/><img src=\"{{req.query.imageurl}}\" height='200'/></p>\n <p><b>Here are my results:</b></p>\n {{#result.images}}\n {{#classifiers}}\n <table border=\"0\">\n <tr><td class=classifier colspan=\"2\">{{classifier_id}}</td></tr>\n <tr><td class=\"title\">Class</td><td class=\"title\">Score</td></tr>\n {{#classes}}\n <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n {{/classes}}\n </table>\n {{/classifiers}}\n {{/result.images}}\n </div>\n","x":770,"y":260,"wires":[["1781b0d8.8efe2f"]]},{"id":"1781b0d8.8efe2f","type":"http response","z":"63b6935a.6eab74","name":"HTTP Response","statusCode":"","headers":{},"x":820,"y":100,"wires":[]},{"id":"8b4775fc.fde9c","type":"debug","z":"63b6935a.6eab74","name":"P0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":400,"wires":[]},{"id":"d180db01.1ba66","type":"debug","z":"63b6935a.6eab74","name":"VisRecResult","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":786,"y":372,"wires":[]},{"id":"4534cb58.3dfcdc","type":"function","z":"63b6935a.6eab74","name":"Extract img URL","func":"msg.payload = msg.payload[\"imageurl\"];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["4f563049.1d75b8","8b4775fc.fde9c"]]},{"id":"f56b0096.51e158","type":"debug","z":"63b6935a.6eab74","name":"P1","active":false,"tosidebar":true,"console":false,"complete":"true","x":490,"y":240,"wires":[]},{"id":"5d048315.0d6b6c","type":"template","z":"63b6935a.6eab74","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\n input[type=text] {\n width: 50em; height: 3em;\n }\n input[type=submit]{\n background-color: rgb(85,150,230);\n border: none;\n color: white;\n padding: 16px 32px;\n text-decoration: none;\n margin: 4px 2px;\n cursor: pointer;\n font-size: 15px;\n border-radius: 10px;\n}\n</style>\n<script type=\"text/javascript\">\nfunction clicked(address) {\n var form = document.getElementById(\"imageform\");\n\tdocument.getElementById('imageurl').value = address.src;\n\tform.submit();\n}\n</script>\n<h1>Watson Visual Recognition Application</h1>\n <h2>Select an Image </h2>\n <form action=\"{{req._parsedUrl.pathname}}\" id=\"imageform\">\n <img src=\"http://grfx.cstv.com/schools/csu/graphics/camsclub/cam_2015.jpg\" height='100' onclick=\"clicked(this)\"/>\n <img src=\"https://harvesting-history.com/wp-content/uploads/2016/03/The-Brussels-Sprouts.jpg\" height='100' onclick=\"clicked(this)\"/>\n <img src=\"https://nyppagesix.files.wordpress.com/2017/10/beyonce2.jpg?quality=90&strip=all&w=1236&h=820&crop=1\" height='100' onclick=\"clicked(this)\"/>\n <!-- <img src=\"\" height='100' onclick=\"clicked(this)\"/> -->\n <h2>or paste an URL from the internet</h2>\n <input type=\"text\" name=\"imageurl\" id=\"imageurl\"/><br>\n <input type=\"submit\" value=\"Analyze\"/>\n </form>\n \n<!-- <h2>or browse from your computer</h2>\n <form action=\"{{req._parsedUrl.pathname}}\" method=\"post\" enctype=\"multipart/form-data\">\n <input type=\"file\" name=\"pic\" accept=\"image/*\"><br>\n <input type=\"submit\" value=\"Analyze\">\n </form> -->\n \n","x":480,"y":80,"wires":[[]]}]
